.image-size{
  object-fit: contain;
  height: 30vh;

}

.col-3-5{
  width: 30%;
}
.image-size-detail{
  object-fit: contain;
  height: 40vh;

}
.pointer:hover{
  cursor: pointer;
 }

 .bigger:hover{
   transform: scale(1.03);
   transition: ease-in-out all .4s;
   box-shadow: grey 0 0 5px;
 }
 .smaller{
   transition: ease-in-out all .4s;
 }

 .hero{

  height: 72vh;
  background-image:  url(/images/hero6.jpg);
  /* linear-gradient(0.25turn, #00000070, #00000000), */
  background-size: cover;
  /* background-position: 50% 75%; */
  position: relative;
  user-select: none;
 }

 /* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
 .card{
   width: 100%;
 }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.card{
  width:100%;
}
}
